<<<<<<< Updated upstream
.docAbout {
    width: 100%;
}

.container {
    margin: 0 10%;
}

h3 {
    padding-top: 50px;
    color: #000;
    font-size: 30px;
    font-weight: 100;
}
=======
.docAbout {
    width: 100%;
}

.container {
    margin: 0 10%;
}

h3 {
    padding-top: 50px;
    color: #000;
    font-size: 30px;
    font-weight: 100;
}
>>>>>>> Stashed changes
