.invite_warning {
    margin-top: 20px;
    width: 50%;
    border: 1px solid #ff9100;
    border-radius: 5px;
}

.invite_warning_title {
    padding: 5px;
    width: 100%;
    background-color: rgba(255, 145, 0, 0.2);
    color: #000;
    font-size: 15px;
    font-weight: 600;
}

.invite_warning_text > p {
    padding: 10px;
    width: 100%;
    color: #000;
    font-size: 14px;
}