.saveSettings {
    border-radius: 5px;
    background-color: var(--color-1-light);
    color: #fff;
    padding: 10px;
    cursor: pointer;
    width: 200px;
    text-align: center;
    margin-left: 10%;
    position: relative;
    top: 100px;
    transition: .1s;
}

.saveSettings:hover {
    background-color: var(--color-1-dark);
}