.docCommands {
    width: 100%;
}

.container {
    margin: 0 10%;
    padding-bottom: 50px;
}

h3 {
    padding-top: 50px;
    color: #000;
    font-size: 30px;
    font-weight: 100;
}

.command {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.command > p {
    color: #000;
}

.link_to_commands {
    color: #496963;
}

.command > p > b {
    color: #000;
}

.prefix_bot_title {
    color: #000;
}

.prefix_bot_title > span {
    color: #496963;
}

.prefix {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.prefix > p {
    color: #000;
}

.prefix > b {
    color: #000;
}

.prefix > p > span {
    font-weight: 600;
    color: #000;
}

.prefix > ol > li {
    color: #000;
    margin-left: 30px;
}