.main {
    width: 100%;
    background-color: rgb(248, 248, 248);
}

.main > .container > h2 {
    color: #000;
    font-size: 40px;
    padding-bottom: 50px;
}

.container {
    padding: 50px 0;
    margin: 0 5%;
    text-align: center;
}

.servers {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.servers_row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
}

.servers_row_server {
    min-width: 200px;
    width: 500px;
    height: 250px;
    background-color: gray;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(80, 93, 103, 0.2);
    -moz-box-shadow: 0px 5px 10px 0px rgba(80, 93, 103, 0.2);
    box-shadow: 0px 5px 10px 0px rgba(80, 93, 103, 0.2);
    cursor: pointer;
    transition: .2s;
}

.servers_row_server:hover {
    -webkit-box-shadow: 0px 5px 10px 0px #578f83;
    -moz-box-shadow: 0px 5px 10px 0px #578f83;
    box-shadow: 0px 5px 10px 0px #578f83;
}

.server_img {
    height: 100%;
    width: 100%;
}

.server_img > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.server_info {
    width: 100%;
    height: 50%;
    background-color: #fff;
    position: relative;
    bottom: calc(50% - 1px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.server_info_footer {
    width: 100%;
    height: 40%;
    padding: 50px 20px;
}

.server_info_header {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    padding: 50px 20px;
    gap: 10px;
}

.server_info_header_title > h3 {
    padding: 0;
    font-size: 25px;
    text-align: left;
}

.server_info_header_img > img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.server_info_footer {
    width: 100%;
    height: 40%;
    padding: 0 20px;
}

.server_info_footer > p {
    color: #000;
    font-weight: 700;
    text-align: left;
}


@media screen and (max-width: 375px) {
    .container {
        margin: 0 5px;
    }
}