.bubbles_block {
    position: absolute;
    top: 0;
}

.bubbles {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background: rgba(66, 100, 94, 0.6);
    margin: 0 4px;
    border-radius: 50%;
    /* box-shadow: 0 0 0 10px #24312e,
    0 0 50px #496963,
    0 0 100px #496963; */
    animation: animate 15s linear infinite;
    animation-duration: calc(1000s / var(--i));
}

.bubbles span:nth-child(even) {
    background: rgba(91, 168, 154, 0.6);
}

@keyframes animate
{ 
    0% {
        transform: translateY(100vh) scale(0);
    }
    100% {
        transform: translateY(-10vh) scale(1);
    }
}

@media screen and (max-width: 1250px) {
    .bubbles_block {
        display: none;
    }
}