<<<<<<< Updated upstream
.docMain {
    width: 100%;
    height: 100vh;
    background-color: #fff;
=======
.docMain {
    width: 100%;
    height: 100vh;
    background-color: #fff;
>>>>>>> Stashed changes
}