nav {
    width: 100%;
    max-height: 3%;
}

.nav_links {
    display: flex;
    height: 100%;
    margin: 0 10%;
}

.nav_links_link {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.2s;
    cursor: pointer;
}

.nav_links_link > p {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #a3a3a3;
    transition: 0.2s;
}

.nav_links_link:hover > p, .nav_links_link:hover {
    color: #fff;
    background-color: #36393e;
}

/* .nav_links_link_animate {
    height: 5px;
    width: 100%;
    position: relative;
    top: 13px;
}

.nav_links_link_animate_div {
    width: 100%;
    height: 100%;
    background-color: #578f83;
} */



@media screen and (max-width: 510px) {
    nav {
        display: none;
    }
}